

<form action= "#" , method="POST">
  <h3>Add a Review to the book </h3>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Description</label>
      {# <input type="text" class="form-control" id="inputCity"> #}
      <textarea name = "description"  class="form-control" > </textarea>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState">Rating</label>
      <select name="rating" class="form-control">
        <option selected>Choose...</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
   
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


