{% extends "layout.html" %}

{% block banner %}
	Search page 
{%endblock%}

{% block body%}

<script src="{{ url_for('static', filename='script.js') }}"></script>

<form class="form-inline" method ='post'>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">isbn</label>
    <input type="text" name='isbn' class="form-control" id="isbn" placeholder="isbn" value="">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">title</label>
    <input type="text" name='title' class="form-control" id="title" placeholder="title" value="">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">author</label>
    <input type="text" name='author' class="form-control" id="author" placeholder="author" value="">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">year</label>
    <input type="text" name='year' class="form-control" id="year" placeholder="year" value="">
  </div>
  <button class="btn btn-primary mb-2">Search</button>
</form>



  <div class='container'>
    <ul id='books_resp' class='book-list'></ul>    
  </div>


  <div class='container'>
    <div class = 'row'>
            
    </div>
  </div>

{% endblock %}